/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{

    font-family: 'Montserrat', 'Helvetica Neue' sans-serif;
    background-color: #F6F5F3;
}

h1{

    font-family: 'Nerko One', cursive;
    color:#FF9614
}

h3{
    padding: 5px;
    color: #4E3969;
}

h4{
    padding: 5px;
    color: #B4B4B3;
    font-size: 15px;
}

ul{
    list-style: none;
}


/* Utils */

.container{
    max-width: 350px;
    margin:0 auto;
   
}





/* Header */


.nav{
    min-height: 60px;
    background-color: white;
    font-size: 20px;
    text-align: center;
}



/*Main */

.recepie{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


.rate-btn{
    font-size: 15px;
    background-color: #FF9614;
    color: white;
    border: #FF9614;
    border-radius: 12px;
}



.recepie-kcal{
    display: flex;
    flex-direction: column;
    background-color: #F6F5F9;
    width: 90%;
    margin:0 auto;
    padding:10px;
    border-radius: 12px;
}
.kcal-layout{
    display: flex;
    justify-content:space-between;
}


.recepie-info{
    width: 90%;
    margin:0 auto;
    padding:10px;
}

.separatore{
    min-width: 2px;
    border: 1px solid black;
}

.row{
    display: flex;
}

.card{
    background-color: white;
}